# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
myenv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# VS Code
.vscode/
*.code-workspace

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Project-specific
congress-legislators/.git/
cleaned/
legislators_maybe/
get-pip.py
FinalProject_WI25_DRAFT.ipynb
clean_executive.ipynb
eda_executive.ipynb